.apps-page {
  min-height: 100vh;
  background-color: #edecec;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &__no-apps-text {
    margin-top: 32px;
    font-size: 18px;
  }

  &__add-btn {
    position: absolute !important;
    bottom: 32px;
    right: 32px;
  }
}